In [1]:
import pandas as pd

In [53]:
df = pd.read_csv('Salaries.csv')

In [54]:
df['JobTitle'].nunique()

93

In [60]:
df['EmployeeName'] = df['EmployeeName'].str.split(' ', n=1, expand=False)
# df['EmployeeName'] = df['EmployeeName'].str.capitalize()

In [30]:
# print(df['EmployeeName'].dtype())

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
671   NaN
672   NaN
673   NaN
674   NaN
675   NaN
Name: EmployeeName, Length: 676, dtype: float64

In [61]:
df['EmployeeName']

0                [NATHANIEL, FORD]
1                  [GARY, JIMENEZ]
2                [ALBERT, PARDINI]
3             [CHRISTOPHER, CHONG]
4               [PATRICK, GARDNER]
                  ...
671                [CHERYL, ADAMS]
672              [LOUISE, SIMPSON]
673                 [BLAKE, LOEBS]
674    [ELIZABETH, AGUILAR-TARCHI]
675                   [JULIAN, NG]
Name: EmployeeName, Length: 676, dtype: object

In [45]:
df['EmployeeName'].str.capitalize()

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
671   NaN
672   NaN
673   NaN
674   NaN
675   NaN
Name: EmployeeName, Length: 676, dtype: float64

In [68]:
john = (df['EmployeeName']=='GARY')
print(john)
print(df['EmployeeName'][0])

0
['NATHANIEL', 'FORD']